language: android

android:
  components:
    - tools
    - platform-tools
    - build-tools-26.0.2
    - android-16
    - android-19
    - android-21
    - android-26
    - extra-android-m2repository
    - sys-img-armeabi-v7a-android-16
    - sys-img-armeabi-v7a-android-19
    - sys-img-armeabi-v7a-android-21

env:
  matrix:
    - ANDROID_TARGET=android-16 ANDROID_ABI=armeabi-v7a
    - ANDROID_TARGET=android-19 ANDROID_ABI=armeabi-v7a
    - ANDROID_TARGET=android-21 ANDROID_ABI=armeabi-v7a
  global:
    - ADB_INSTALL_TIMEOUT=5 # increase from default of 2 mins

before_script:
  # Create and start emulator
  - android list targets
  - jdk_switcher use oraclejdk8
  - echo no | android create avd --force -n test -t $ANDROID_TARGET --abi $ANDROID_ABI
  - emulator -avd test -no-skin -no-audio -no-window &
  - adb wait-for-device
  - while [[ `adb shell pm path android` == 'Error'* ]]; do sleep 2; done
  - adb shell input keyevent 82 &

script: ./gradlew lint connectedCheck

sudo: false

before_deploy: ./gradlew javadoc

deploy:
  provider: pages
  local_dir: sdk/docs # only include the contents of the docs dir
  skip_cleanup: true
  github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
  on:
    tags: true # only deploy when tag is applied to commit
