language: android

android:
  components:
    - tools
    - platform-tools
    - tools
    - build-tools-25.0.2
    - android-16
    - android-19
    - android-21
    - android-25
    - extra-android-m2repository
    - sys-img-armeabi-v7a-android-16

env:
  matrix:
    - ANDROID_TARGET=android-16 ANDROID_ABI=armeabi-v7a
    - ANDROID_TARGET=android-19 ANDROID_ABI=armeabi-v7a
    - ANDROID_TARGET=android-21 ANDROID_ABI=armeabi-v7a
  global:
    - ADB_INSTALL_TIMEOUT=5 # increase from default of 2 mins

before_script:
  # Create and start emulator
  - android list targets
  - jdk_switcher use oraclejdk8
  - echo no | android create avd --force -n test -t $ANDROID_TARGET --abi $ANDROID_ABI
  - emulator -avd test -no-skin -no-audio -no-window &
  - adb wait-for-device
  - while [[ `adb shell pm path android` == 'Error'* ]]; do sleep 2; done
  - adb shell input keyevent 82 &

script: ./gradlew lint connectedCheck java-example:connectedCheck kotlin-example:connectedCheck

sudo: false
