<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.bugsnag.android"
	android:versionName="1.0.0"
	android:versionCode="1">
	<application android:name="bugsnag">
	</application>
	<uses-sdk android:minSdkVersion="7" />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest> 
