bugsnag-android/                   @lemnik @YYChen01988
bugsnag-android-core/              @lemnik @YYChen01988
bugsnag-plugin-android-anr/        @lemnik @YYChen01988
bugsnag-plugin-android-exitinfo/   @lemnik @YYChen01988
bugsnag-plugin-android-ndk/        @lemnik @YYChen01988
bugsnag-plugin-android-okhttp/     @lemnik @YYChen01988
bugsnag-plugin-react-native/       @lemnik @YYChen01988
