version: '3.6'
services:

  android-common:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.android-common

  android-ci:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.android-ci-base
    environment:
      BROWSER_STACK_USERNAME:
      BROWSER_STACK_ACCESS_KEY:
      SAUCE_LABS_USERNAME:
      SAUCE_LABS_ACCESS_KEY:
      INSTRUMENTATION_DEVICES:

  android-builder:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.android-builder
      args:
        BRANCH_NAME: ${BRANCH_NAME}
    environment:
      MINIMAL_FIXTURE:
      TEST_FIXTURE_NDK_VERSION:
      TEST_FIXTURE_NAME:
    volumes:
      - ./build:/app/build

  android-publisher:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.android-publisher
    environment:
      KEY:
      KEY_ID:
      KEY_PASS:
      PUBLISH_USER:
      PUBLISH_PASS:

  android-sizer:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.android-sizer
      args:
        BRANCH_NAME: ${BRANCH_NAME}
    environment:
      DANGER_GITHUB_API_TOKEN:
      BUILDKITE:
      BUILDKITE_PULL_REQUEST_REPO:
      BUILDKITE_PULL_REQUEST:
      BUILDKITE_REPO:

  android-maze-runner:
    image: 855461928731.dkr.ecr.us-west-1.amazonaws.com/maze-runner:master-cli
    environment:
      DEBUG:
      BUILDKITE:
      BUILDKITE_PIPELINE_NAME:
      BROWSER_STACK_USERNAME:
      BROWSER_STACK_ACCESS_KEY:
      SAUCE_LABS_USERNAME:
      SAUCE_LABS_ACCESS_KEY:
    volumes:
      - ./build:/app/build
      - ./maze-output:/app/maze-output
      - ./features/:/app/features/

networks:
  default:
    name: ${BUILDKITE_JOB_ID:-android-maze-runner}
