version: '3.6'
services:

  android-common:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.android-common

  android-ci:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.android-ci-base
    environment:
      BROWSER_STACK_USERNAME:
      BROWSER_STACK_ACCESS_KEY:
      INSTRUMENTATION_DEVICES:
      NDK_VERSION:

  android-jvm:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.android-jvm
      args:
        BRANCH_NAME: ${BRANCH_NAME}

  android-builder:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.android-builder
      args:
        BRANCH_NAME: ${BRANCH_NAME}
    environment:
      MINIMAL_FIXTURE:
    volumes:
      - ./build:/app/build

  android-sizer:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.android-sizer
      args:
        BRANCH_NAME: ${BRANCH_NAME}
    environment:
      DANGER_GITHUB_API_TOKEN:
      BUILDKITE:
      BUILDKITE_PULL_REQUEST_REPO:
      BUILDKITE_PULL_REQUEST:
      BUILDKITE_REPO:

  android-maze-runner:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.android-maze-runner
    environment:
      VERBOSE:
      DEBUG:
    volumes:
      - ./build:/app/build
      - ./maze-output:/app/maze-output

networks:
  default:
    name: ${BUILDKITE_JOB_ID:-android-maze-runner}
