version: '3.6'

x-common-environment: &common-environment
  DEBUG:
  BUILDKITE:
  BUILDKITE_BRANCH:
  BUILDKITE_BUILD_CREATOR:
  BUILDKITE_BUILD_NUMBER:
  BUILDKITE_BUILD_URL:
  BUILDKITE_JOB_ID:
  BUILDKITE_LABEL:
  BUILDKITE_MESSAGE:
  BUILDKITE_PIPELINE_NAME:
  BUILDKITE_PIPELINE_SLUG:
  BUILDKITE_REPO:
  BUILDKITE_RETRY_COUNT:
  BUILDKITE_STEP_KEY:
  MAZE_BUGSNAG_API_KEY:
  MAZE_NO_FAIL_FAST:
  MAZE_SCENARIO_BUGSNAG_API_KEY:
  TEST_FIXTURE_SYMBOL_DIR:

services:
  android-common:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.android-common

  android-ci:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.android-ci-base
    environment:
      BROWSER_STACK_USERNAME:
      BROWSER_STACK_ACCESS_KEY:
      SINGLE_RUNNER:
      INSTRUMENTATION_DEVICES:
      TEST_APK_LOCATION:

  android-publisher:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.android-publisher
    environment:
      KEY:
      KEY_ID:
      KEY_PASS:
      PUBLISH_USER:
      PUBLISH_PASS:

  maze-runner:
    image: 855461928731.dkr.ecr.us-west-1.amazonaws.com/maze-runner-releases:latest-v9-cli
    environment:
      <<: *common-environment
      BITBAR_USERNAME:
      BITBAR_ACCESS_KEY:
      BROWSER_STACK_USERNAME:
      BROWSER_STACK_ACCESS_KEY:
    ports:
      - "9000-9499:9339"
    volumes:
      - ./build:/app/build
      - ./features/:/app/features/
      - ./maze_output:/app/maze_output
      - ./reports/:/app/reports/
      - /var/run/docker.sock:/var/run/docker.sock

  android-license-audit:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.android-license-audit
      args:
        BRANCH_NAME: ${BRANCH_NAME}

networks:
  default:
    name: ${BUILDKITE_JOB_ID:-android-maze-runner}
