<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.bugsnag.android.test"
  android:versionCode="1"
  android:versionName="1.0">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <application android:label="Bugsnag Android Tests"></application>

  <instrumentation
    android:name="android.support.test.runner.AndroidJUnitRunner"
    android:targetPackage="com.bugsnag.android">
    <meta-data
      android:name="listener"
      android:value="com.bugsnag.android.TestRunListener" />
  </instrumentation>

</manifest>
