<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bugsnag.android.core">

    <!-- Required: Used to deliver Bugsnag crash reports -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <provider
            android:name="com.bugsnag.android.internal.BugsnagContentProvider"
            android:authorities="${applicationId}.bugsnag-startup"
            android:exported="false"
            android:initOrder="9000" />
    </application>
</manifest>
