<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.bugsnag.android.example"
  android:versionCode="1"
  android:versionName="1.0">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.GET_TASKS" />

  <application
    android:name=".ExampleApplication"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name">
    <activity
      android:name=".ExampleActivity"
      android:theme="@style/AppTheme"
      android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <!--
      Uses a manifest placeholder to specify the API key. This means that different keys
      can be supplied depending on the build variant. See
       https://developer.android.com/studio/build/manifest-build-variables.html
        -->

    <meta-data
      android:name="com.bugsnag.android.API_KEY"
      android:value="${bugsnagApiKey}" />
    <meta-data
      android:name="com.bugsnag.android.BUILD_UUID"
      android:value="${bugsnagBuildUUID}" />
    <meta-data
      android:name="com.bugsnag.android.APP_VERSION"
      android:value="${bugsnagAppVersion}" />
    <meta-data
      android:name="com.bugsnag.android.ENDPOINT"
      android:value="${bugsnagEndpoint}" />
    <meta-data
      android:name="com.bugsnag.android.RELEASE_STAGE"
      android:value="${bugsnagReleaseStage}" />
    <meta-data
      android:name="com.bugsnag.android.SEND_THREADS"
      android:value="${bugsnagSendThreads}" />
    <meta-data
      android:name="com.bugsnag.android.ENABLE_EXCEPTION_HANDLER"
      android:value="${bugsnagEnableExceptionHandler}" />
    <meta-data
      android:name="com.bugsnag.android.PERSIST_USER_BETWEEN_SESSIONS"
      android:value="${bugsnagPersistUserBetweenSessions}" />

  </application>

</manifest>
